@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@700&display=swap');

$color-primary:hsl(0, 0%, 98%);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  max-width: 1440px;
  font-family: 'Space Mono', monospace;
  background-color: hsl(0, 0%, 98%);
  
}

header {
  display: flex;
  justify-content: space-between;
  text-align: center;
  padding: 20px 60px;
  border-bottom: solid 5px $color-primary;
  margin-bottom: 15px;
  background-color: white;
  box-shadow: 4px 2px 2px 2px #aaaaaa;

  h1 {
    font-size: 26px;
    font-weight: 800;
  }

  div {
    span, i {
      vertical-align: sub;
    }
  }

  
}

.container {
  
  height: 80vh;
  width: 90%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 15px;

  .search {
    
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 15px 0;

    .box {
      width: 400px;
      height: 40px;
      background-color: white;
      border-radius: 10px;
      display: flex;
      align-items: center;
      padding: 20px;
      box-shadow: 1px 2px 2px 2px #aaaaaa;

      i {
        font-size: 16px;
        color: #777;

      }

      input {
        flex: 1;
        height: 40px;
        border: none;
        outline: none;
        font-size: 16px;
        padding-left: 10px;
      }


    }

    select {
      width: 400px;
      height: 40px;
      background-color: white;
      border-radius: 10px;
      padding: 20px;
      box-shadow: 1px 2px 2px 2px #aaaaaa;
      outline: none;
      border: none;
    }

    

    #select-continent {
      width: 150px;
      padding: 10px;
      
    }
    
  }

  .countries {
    margin-top: 10px;
    width: 100%;
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 5rem;
    
    .country {
      border: solid red 2px;
      height: 260px;
      width: 250px;

      .flag {
        width: 100%;
        height: 125px;
        border: solid yellow 2px;
      }

      .info {
        padding: 15px;
        display: flex;
        flex-direction: column;

        h5 {
          padding: 5px 0;
        }

        p {
          display: inline-block;
          font-size: 14px;
          font-weight: 300;
        }
      }
      
      
      
      
    }


  }
}